html,body {
    height:100%;
}

body {
  background-color: #111;
}

div#skypad-display {
  position: fixed;
  border: 0;
  padding: 20px;
  width: 100%;
  top: 0;
  color: #fff;
  background-color: #111;
  font-family: monospace;
  height: calc(100% - 100px);
}

textarea,input:focus {
    outline: none;
}
.CodeFlask__pre {
  bottom: 0; /* Fix the scrolling problem*/
}

#credits {
  color: #999;
}

#credits a {
  color: #777;
}

#share-bar {
  border: 0;
  position: fixed;
  margin: 0;
  width:100%;
  bottom: 0;
  height: 40px;
  z-index: 20;
  color: #fff;
  background-color: #333;
  font-family: monospace;
  padding: 10px;
  display: none;
}

@media (max-height: 400px ){
    #share-bar {
      visibility: hidden;
    }
    div#skypad-display {
      height: 100%;
    }
}